<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p [%c{1}] [%.10t] %m%n"/>
        </layout>
    </appender>

    <logger name="org">
        <level value="INFO"/>
    </logger>
    <logger name="org.springframework.web">
        <level value="DEBUG"/>
    </logger>
    <logger name="org.springframework.web.servlet.handler.AbstractHandlerMethodMapping">
        <level value="INFO"/>
    </logger>
    <logger name="org.springframework.beans.factory.support.AbstractBeanFactory">
        <level value="ERROR"/>
    </logger>
    <logger name="org.springframework.beans.factory.support.DefaultListableBeanFactory">
        <level value="DEBUG"/>
    </logger>
    <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
        <level value="WARN"/>
    </logger>
    <logger name="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver">
        <level value="WARN"/>
    </logger>
    <logger name="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping">
        <level value="WARN"/>
    </logger>
    <logger name="org.springframework.web.servlet.resource">
        <level value="TRACE"/>
    </logger>
    <logger name="org.glorund.calc">
        <level value="DEBUG"/>
    </logger>

    <root>
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</log4j:configuration>
